@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap%27');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	z-index: -5;
	background-color: rgb(30, 30, 30);
}

.background-image {
	background-image: url(banner2.jpg);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

header {
	z-index: 100;
	background-color: rgb(20, 20, 20);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
}

header h1 {
	font-size: 40px;
	font-family: 'kanit';
	color: white;
	background-color: rgb(20, 20, 20);
}


nav ul {
	display: flex;
	list-style-type: none;
	background-color: rgb(20, 20, 20);
}

nav li {
	margin-left: 20px;
}

nav a {
	color: white;
	background-color: rgb(20, 20, 20);
	font-size: 20px;
	text-decoration: none;
    font-family: 'kanit'
}

nav a:hover {
	color: orange;
}

h1 a{
	text-decoration: none;
	color: white;
	background-color: rgb(20, 20, 20);
}

h1 a:hover{
    color: orange;
}
main h2{
    color: white;
    font-family: 'Roboto', sans-serif;
}

section{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section h4{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
section img{
    border-radius: 10px;
    border: solid white 1px;
	transition:all 0.7s ease;
}

img:hover{
    transform: scale(110%);
    box-shadow: 0px 0px 100px -3px rgba(0, 0, 0, 1);
}

h4{
	text-align: center;
}

